<div class="p-10">
  <form action="/course" method="post">
    <div class="form-group">
      <label for="courseTitle">Course Title</label>
      <input type="text" class="form-control" id="inputCourseTitle" placeholder="Enter Course Title">
    </div>

    <div class="form-group">
      <label for="courseDate">Course Location</label>
      <select class="form-control" id="inputCourseLocation">
        <option>Amsterdam</option>
        <option>Belfast</option>
        <option>Boston</option>
        <option>Derry</option>
        <option>Dublin</option>
        <option>Frankfurt</option>
        <option>Gdansk</option>
        <option>London</option>
      </select>
    </div>

    <div class="form-group">
      <label for="courseDate">Course Date</label>
      <input type="text" class="form-control" id="inputCourseDate" placeholder="Enter Course Date">
    </div>

    <div class="form-group">
      <label for="courseDescription">Course Description</label>
      <input type="text" class="form-control" id="inputCourseDescription" placeholder="Enter Course Description">
    </div>

    <div class="form-group">
      <label for="courseAim">Course Aim</label>
      <input type="text" class="form-control" id="inputCourseAim" placeholder="Enter Course Aim">
    </div>

    <div class="form-group">
      <label for="courseAim">Course Trainer Name</label>
      <input type="text" class="form-control" id="inputCourseTrainerName" placeholder="Enter Course Tranier Name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
