<div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-1 text-center" style="color:#192F56">Welcome to Kainos MAP</h1>
        <div class="row">
            <span class="col-md-3"></span>
            <a class="btn btn-primary col-md-6" routerLink="course-list" role="button"><span class="display-3">Current Course</span></a>
            <span class="col-md-3"></span>
            
        </div>
        <br> 
        <div class="row">
            <span class="col-md-3"></span>
            <a class="btn btn-primary col-md-6" routerLink="add-course" role="button"><span class="display-3">Add Course</span></a>
            <span class="col-md-3"></span>
            <br>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3"></span>
            <a class="btn btn-primary col-md-6" routerLink=""><span class="display-3">Archived Courses</span></a>
            <span class="col-md-3"></span>
            <br>
        </div>
        </div>