<booking-system-header></booking-system-header>
<booking-system-nav [links]="[{ title: 'List', src: 'course-list' }]"></booking-system-nav>

<div class="container">
  <div class="display-4">{{data.courses[0].Course_Title}}</div>
  <div class="display-4">{{data.courses[0].Course_Date}}</div>
  <div class="display-4">{{data.courses[0].Course_Location}}</div>
  <div class="display-4">{{data.courses[0].Course_Description}}</div>
  <div class="display-4">{{data.courses[0].Course_Aim}}</div>
  <div class="display-4">{{data.courses[0].Course_Trainer_Name}}</div>
</div>

