.container {
  margin-top: 2rem;
}

/* .list-item {
  background: #f4f4f5;
  margin-bottom: 1rem;
  padding: 1rem;
} */

.list-item {
  background: #f4f4f5;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

/* .list-item > span {
  margin-right: 2rem;
} */